<div class="row d-flex justify-content-center wow bounceIn">
  <mat-card class="col-5 rgba-black-light" style="display: inline-block">
    <img mat-card-image src="assets\img\profile-photo.jpg" alt="profile-photo">
    <mat-card-content>
      <p>
        Hello, I am a former Physical Therapist who is now committed to lifelong learning in computer programming. During college, I thought technology made people lazy and affected society mostly in a negative way. It is true that people can easily misuse technology in their day-to-day lives. People glued to their smartphone screens during a family dinner is one example. However, I've recently come to a realization that technological platforms, if utilized properly, can deliver news, spread awareness on a certain topic, bring solidarity in a community through information, faster than any other mediums. The internet is less than 30 years old. With any new and large scale technology it takes time for people to learn proper application. For me as a Full Stack Web Developer I feel that it is my civic duty to use technology in a way that will affect the society in a positive way.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['']" class="btn btn-primary waves-light"
        mdbWavesEffect>
        <mdb-icon class="mr-1" icon="step-backward"></mdb-icon>Back
      </a>
    </mat-card-actions>
  </mat-card>
</div>