<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
    [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Portfolio</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="scrollToElement(target1)" (click)="reset('/')" class="nav-link">About Me</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="scrollToElement(target2)" class="nav-link">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="scrollToElement(target3)" class="nav-link">Skills</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="scrollToElement(target4)" class="nav-link">Resume</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="scrollToElement(target5)" class="nav-link">Contact Me</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item waves-light" mdWavesEffect>
          <a href="https://www.linkedin.com/in/richard-yoo" target="_blank" class="nav-link">
            <mdb-icon icon="linkedin" size="2x"></mdb-icon>
          </a>
        </li>
        <li class="nav-item waves-light" mdWavesEffect>
          <a href="https://www.github.com/zariman" target="_blank" class="nav-link">
            <mdb-icon icon="github" size="2x"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>

<div #target1 data-jarallax data-speed="0.2" class="jarallax">
  <img class="jarallax-img" src="assets/img/beautiful-blue-sky-body-of-water-1170572.jpg" alt="">
  <div class="demo-table">
    <div class="demo-table-cell">
      <router-outlet name='first'></router-outlet>
    </div>
  </div>
</div>

<div class="gap">
  <h1>PROJECTS</h1>
  <h3 class="blue-text">Projects created during and outside of coding bootcamp</h3>
</div>

<div #target2 data-jarallax data-speed="0.2" class="jarallax">
  <img class="jarallax-img" src="assets/img/agriculture-beautiful-clouds-539711.jpg" alt="beautiful-clouds">
  <div class="demo-table">
    <div class="demo-table-cell">
      <app-portfolio-root></app-portfolio-root>
    </div>
  </div>
</div>

<div class="gap">
  <h1>SKILLS</h1>
  <h3 class="blue-text">Skills learned during and outside of coding bootcamp</h3>
</div>

<div #target3 data-jarallax data-speed="0.2" class="jarallax">
  <img class="jarallax-img" src="assets\img\beach-dawn-depth-of-field-1139541.jpg" alt="">
  <div class="d-flex justify-content-center">
    <mat-card class="mt-5 col-8 rgba-white-light">
      <nav class="nav nav-pills nav-justified mt-3" style="font-size: 1.5rem;">
        <a [routerLink]="['']" class="nav-item nav-link" [ngClass]="{active: isActive1}">Stack 1</a>
        <a [routerLink]="['', { outlets: { second : ['skills2'] } }]" class="nav-item nav-link" [ngClass]="{active: isActive2}">Stack
          2</a>
        <a [routerLink]="['', { outlets: { second : ['skills3'] } }]" class="nav-item nav-link" [ngClass]="{active: isActive3}">Stack
          3</a>
        <a [routerLink]="['', { outlets: { second : ['skills4'] } }]" class="nav-item nav-link" [ngClass]="{active: isActive4}">Others</a>
      </nav>
      <router-outlet name="second" (activate)="onRouterOutletActivate($event)"></router-outlet>
    </mat-card>
  </div>
</div>

<div class="gap">
  <h1>RESUME</h1>
  <h3 class="blue-text">Click on resume to view on Github</h3>
</div>

<div #target4 data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center justify-content-center">
  <img class="jarallax-img" src="assets\img\aerial-shot-aerial-view-beach-1123491.jpg" alt="">
  <pdf-viewer style="cursor: pointer; display: inline-block;" (click)=resumeOnClick() [src]="pdfSrc" [render-text]="false" [original-size]="true" [fit-to-page]="true"></pdf-viewer>
</div>

<div #target5 class="gap">
  <h1>Contact Me</h1>
  <h5 class="blue-text">Feel free to contact me regarding an opening for a Full Stack Developer position!</h5>
  <div id="formview" class="d-flex justify-content-center">
    <form #contactForm="ngForm" class="col-4 mt-3" (submit)="submitForm()">
      <input type="email" name="email" [(ngModel)]="form.email" placeholder="Your email" required #email="ngModel">
      <div class="red-text" *ngIf="!email.valid && isSubmitted">Email cannot be empty</div>
      <textarea class="mt-1" name="message" [(ngModel)]="form.message" placeholder="Your message" required #message="ngModel"></textarea>
      <div class="red-text" *ngIf="!message.valid && isSubmitted">Message cannot be empty</div>
      <button [disabled]="!contactForm.form.valid" class="btn btn-success" type="submit">SEND</button>
    </form>
  </div>
</div>